.card{
    width: 300px;
    border: 2px solid #ccc;
}

.card img {
    width: 100%;
}

.card-title {
    font-size: 24px;
    margin: 0;
}

.card-text {
    font-size: 20px;
}

.card-body{
    width: 90%;
    padding: 5%;
}

.card a{
    background-color: #333;
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}